
<div class="home__container">
    
    <app-card
    gameCover="assets/samira2jpg.jpg"
    gameLabel="EXCLISIVE"
    gameType="DIGITAL"
    game-price="126,00"
    >
    
        
    </app-card>
    <app-card 
    gameCover="assets/ari.jpg"
    gameLabel="EXCLUSIVE"
    gameType="disc"
    game-price="126,00"
    >
    </app-card>
    <app-card
    gameCover="assets/akali.jpg"
    gameLabel="EXCLISIVE"
    gameType="DIGITAL"
    game-price="126,00"
    >
    
        
    </app-card>
    <app-card 
    gameCover="assets/ashe.jpg"
    gameLabel="EXCLUSIVE"
    gameType="disc"
    game-price="126,00"
    >
    </app-card>
    <app-card 
    gameCover="assets/senna.jpg"
    gameLabel="EXCLUSIVE"
    gameType="disc"
    game-price="126,00"
    >
    </app-card>
    <app-card 
    gameCover="assets/jhix2.jpg"
    gameLabel="EXCLUSIVE"
    gameType="disc"
    game-price="126,00"
    >
    </app-card>
    
    

</div>

